<div>
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="form" (ngSubmit)="onUpdate()">
  
        <div class="modal-header">
          <div class="modal-title"><h4> Mise a jour d'un utilisateur</h4></div>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="form-check form-switch">
                <input class="form-check-input" formControlName="status" type="checkbox" id="mySwitch" name="darkmode"
                (change)="controlOnChange($event)">
                <label class="form-check-label" for="mySwitch"><sup style="color: red;">*</sup>Status</label>
              </div>

              <div class="form-group col-sm-6">
                <label class="control-label" for="personne" ><sup style="color: red;">*</sup>Personne</label>
                <select class="form-select" formControlName="personne" placeholder="* Personne"  id="personne" title="personne">
                  <option *ngFor="let tc of listePersonne " [value]="tc.id">{{tc.nom +' '}}{{tc.prenom}} </option>
                </select>
              </div>

              <div class="form-group col-sm-6">
                <label class="control-label" for="localite" ><sup style="color: red;">*</sup>Localite</label>
                <select class="form-select" formControlName="localite" placeholder="* Localite"  id="localite" title="localite">
                  <option *ngFor="let tc of listeLocalite " [value]="tc.id">{{tc.nom}} </option>
                </select>
              </div>
             
            <div class="form-group col-sm-6">
                <label class="control-label" for="profils" ><sup style="color: red;">*</sup>Profile</label>
                <select class="form-select" formControlName="profile" placeholder="* Profile"  id="profile" title="profile">
                  <option *ngFor="let tc of listeProfile " [value]="tc.id">{{tc.nom}} </option>
                </select>
              </div>

            <div class="form-group col-sm-6" >
              <label class="control-label" for="matricule"><sup style="color: red;">*</sup>Matricule</label>
              <input type="text" [ngModel]="utilisateur.matricule" class="form-control" formControlName="matricule" placeholder="* Matricule" id="matricule"/>
            </div>


            <div class="form-group col-sm-6" >
                <label class="control-label" for="Login"><sup style="color: red;">*</sup>Login</label>
                <input type="text" [ngModel]="utilisateur.login" class="form-control" formControlName="login" placeholder="* Login" id="login"/>
              </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Fermer</button>
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Enrégistrer</button>
        </div>
      </form>
    </div>
  </div>
  
  
  
  
  
  