<div>
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="form" (ngSubmit)="onUpdate()">
  
        <div class="modal-header">
          <div class="modal-title"><h4> Mise a jour d'un produit</h4></div>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="form-group col-sm-6" >
              <label class="control-label" for="nom"><sup style="color: red;">*</sup>Nom du Produit</label>
              <select class="form-select" formControlName="nom" placeholder="Nom du Produit" id="nom" >
                <option *ngFor="let tc of listeMarque " [value]="tc.id">{{tc.nom }} </option>
              </select>
             
            </div>

            <div class="form-group col-sm-6" >
                <label class="control-label" for="quantite"><sup style="color: red;">*</sup>Quantite</label>
                <input type="number" [ngModel]="produit.quantite" class="form-control" formControlName="quantite" placeholder="* Quantite" id="quantite"/>
            </div>

            <div class="form-group col-sm-6" >
              <label class="control-label" for="prix"><sup style="color: red;">*</sup>Prix</label>
              <input type="number" [ngModel]="produit.prix" class="form-control" formControlName="prix" placeholder="* Prix" id="prix"/>
          </div>

          <div class="form-group col-sm-12">
            <label for="description"><sup style="color: red;">*</sup>Description</label>
            <textarea class="form-control"  [ngModel]="produit.description" id="description" rows="3" formControlName="description" placeholder="* Description" id="description"></textarea>
           </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Fermer</button>
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Enrégistrer</button>
        </div>
      </form>
    </div>
  </div>
  
  
  
  
  
  