<div>
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="form" (ngSubmit)="onCreate()">
  
        <div class="modal-header">
          <div class="modal-title"><h4> Enregistrement d'un Personne</h4></div>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="form-group col-sm-6" >
                <label class="control-label" for="nom"><sup style="color: red;">*</sup>Nom</label>
                <input type="text" class="form-control" formControlName="nom" placeholder="* Nom" id="nom"/>
              </div>
  
            <div class="form-group col-sm-6" >
                <label class="control-label" for="prenom"><sup style="color: red;">*</sup> Prenom </label>
                <input type="text" class="form-control" formControlName="prenom" placeholder="* Prenom" id="prenom"/>
            </div>
  
  
            <div class="form-group col-sm-6" >
                <label class="control-label" for="email"><sup style="color: red;">*</sup>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="* Email" id="email"/>
            </div>
  
            <div class="form-group col-sm-6">
                <label class="control-label" for="tel"><sup style="color: red;">*</sup>Telephone</label>
                <input type="tel" class="form-control" formControlName="tel" placeholder="* Telephone" id="tel"/>
            </div>


            <div class="form-group col-sm-6">
                <label class="control-label" for="adresse">Adresse</label>
                <input type="text" class="form-control" formControlName="adresse" placeholder="* Adresse" id="adresse"/>
            </div>
  
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Fermer</button>
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Enrégistrer</button>
        </div>
      </form>
    </div>
  </div>
  
  
  
  
  
  